html, body, .container-fluid {
    border: 0;
    margin: 0;
    padding: 0;
}

.user-admin-title {
    border: 0;
    margin: 0;
    background-image: linear-gradient(to right, #6666aa, #6666ff);
}

.title-heading {
    padding-left: 10vw;
}

.container-fluid {
    background-color: #333355;
    display: block;
}

.user-admin-content {
    padding: 5%;
}

.user-admin-table {
    background-color: #eeeeff;
}

.head-labels {
    padding-top: 5vh;
}

.wbdv-user-row-template {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    border-bottom: #333355;
}

.user-admin-field {
    width: 100%;
}

.list-content {
    padding-bottom: 2vh;
}

@media (max-width: 900px) {
    .wbdv-password, .wbdv-first-name, .wbdv-last-name, .wbdv-role {
        display: none;
    }

    .user-admin-content {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .head-labels {
        padding-top: 2vh;
        width: 100%;
    }

    .user-admin-field, .head-labels, .wbdv-add-btn, .wbdv-update, .wbdv-username, .wbdv-edit, .wbdv-delete, h5 {
        width: 100%;
        font-size: x-large;
    }

    .wbdv-add-btn, .wbdv-update {
        padding-bottom: 2vh;
    }

    .wbdv-user-row-template {
        background-color: white;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    .fld-container {
        padding-bottom: 5vh;
    }
    h5, .wbdv-role-fld, .wbdv-username {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 2vh;
    }

    .user-admin-table {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }
}