.btn, .btn:hover {
    color: azure;
}

.row {
    padding-right: 2vw;
}

.nav-light-text {
    color: azure;
}

.container-fluid {
    background-image: linear-gradient(to right, #333333, #222222);
}

.content-frame {
    justify-content: center;
}

.content-frame-right {
    background-color: azure;
    margin-top: 2vh;
}

.wbdv-module-list {
    color: azure;
    padding: 2vh;
}

.wbdv-module-item {
    margin: 2vh;
    background-color: #444444;
    height: min-content;
    padding: 1vh;
}

.wbdv-module-item:hover {
    background-color: #666666;
}

.wbdv-module-item:active {
    background-color: #555555;
}

.wbdv-topic-pill {
    margin: 2vh;
}

.dark-text {
    color: #444444;
}

.dark-text:hover {
    color: #444444;
    background-color: #c0cccc;
}

.topic-frame {
    color: #333333;
    margin-bottom: 2vh;
    padding: 2vh;
    background-color: #f9ffff;
}

@media (max-width: 900px) {
    .wbdv-new-page-btn, .wbdv-topic-pill {
        display: none;
    }

    .active-topic {
        display: block;
        width: 100%;
    }
    .row {
        padding-right: 0;
    }
}