html, body, .container-fluid {
    border: 0;
    margin: 0;
    padding: 0;
}

.whole-box {
    margin-bottom: 3vh;
}

.heading {
    background-image: linear-gradient(to right, #000055, #003355);
    height: 50vh;
    display: flex;
    align-items: center;
    background-size: cover;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    padding: 5vh;
}

.user-form {
    padding-top: 5vh;
    padding-right: 3vh;
    padding-left: 3vh;
}

.cancel {
    display: flex;
    align-items: flex-end;
}

.homepage-button-group {
    padding: 2vh;
}

.my-name {
    color: azure;
    padding-top: 1vh;
}

.new-course {
    padding-left: 20vh;
    padding-right: 5vh;
}